@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary{
 @apply bg-primary text-white py-2 rounded-md font-semibold
}
.btn-secondary{
  @apply border border-primary hover:bg-red-600 hover:text-white text-primary py-2 rounded-md
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }
  